@import url('https://fonts.googleapis.com/css?family=Play&display=swap');

* {
  font-family: 'Play', sans-serif;
  font-size: 24px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#drum-machine {
  max-width: 800px;
  width: 100%;
  display: flex;
  background: #333333;
  margin: 50px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 8px 3px #333;
  justify-content: center;
}

.left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

#display {
  background-color: cornflowerblue;
  width: 250px;
  height: 30px;
  color: #333333;
}

.pads {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.drum-pad {
  padding: 5px;
  background-color: lightcoral;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin: 20px 10px;
}
